.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Or any other value */
}



.body {
    background-color: #204ecf;
}



.box-ticket {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid #238afb 3px;
    background-color: #d5e8ff;
    border-radius: 100px;
    padding: 12px 100px;
    font-family: monospace;
}


#lives {
                    font-weight: bold;
                    position: fixed;
                    bottom: -10px;
                    width: auto;
                    right: -20px;
                    cursor: pointer;
                    z-index: 3;
                    font-size: 15px;
                    animation: slideInRight 0.5s forwards, slideOutRight 0.5s 4s forwards;
                }

                    @keyframes slideInRight {
                        from {
                            transform: translateX(100%);
                        }
                        to {
                            transform: translateX(0);
                        }
                    }

                    @keyframes slideOutRight {
                        from {
                            transform: translateX(0);
                        }
                        to {
                            transform: translateX(100%);
                        }
                    }



#icon-menu {
                    font-weight: bold;
                    position: fixed;
                    bottom: 20px;
                    width: auto;
                    right: 30px;
                    cursor: pointer;
                    z-index: 3;
                    font-size: 15px;
                }



:root {
  --background: #4285f4;
  --icon-color: #344955;
  --width: 50px;
  --height: 50px;
  --border-radius: 100%;
}


